*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #d2dbdd;
  }
  
    
  .main_div {
     width:100%;
     height:100vh;
     background: #6983aa;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     text-align: center;
  }
  .center_div{
     width:50%;
     height: 80vh;
     background-color: #f4f4f4;
     box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
     border-radius: 15px;
  }
  input{
    padding :2% 10%;
    
    font-size:100%;
}
  button:hover{
    background-color: green;
  }
  button {
    padding: 10px 20px;
    font-family: "Times New Roman", Times, serif;
    text-transform: capitalize;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
    background-color: blueviolet;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 10px;
  }
  button{
    min-height: 10px;
    width: 30px;
    border-radius: 100%;
    border-color:transparent;
    background-color: #8566aa;
    color: #fff;
    font-size: 60px;
    border:none;
    outline:none;
    margin-left:10px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  ol li{
    padding-left: 10px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    min-height: 40px;
    display: flex;
    align-items: center;
    color: #8566aa;
    text-transform: capitalize;
  }
  button{
    margin-left: 4px;
    min-height: 40px;
    width: 55px;
    color: #fff;
    font-size: 30px;
  }
  .todo_style{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
  .todo_style.fa-solid{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8566aa;
    border-radius: 50%;
    margin: 2px 15px 0 35px;
    color: aliceblue;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);

  }
  .todo_style.fa-solid:hover{
    background-color: crimson;
  }
  @media(max-width: 1000px){
     .center_div{
       width: 55%;
       font-size:50% ;
    }
  }
  .todo_style.fa-solid{
    margin:0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  